body {

	cursor: url("Images/cursor.png"), auto;
}

.wrapper {
	 height: 89.2dvh;
  width: 860px;
  margin: 0 auto;
}

.container {
  display: flex;
	height: 100%;
}

.newsContainer {
	margin-inline: auto;
	width: 90%;
	height: 11.1vh;
	overflow-y: scroll;
	outline-style: dashed;
}

.sidebar {
	width: 160px;
	height: 100%;
	background-color: #AA0606;
	color: white;
  
	border-width: 2px;
	border-color: #000000;
	border-style: solid;
}

.sidebar .logo {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  border-bottom: 2px solid #000000;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin-top: -10px;
}

.sidebar ul li {
	padding: 10px;
	font-family: badaga;
  
	display: flex;
	justify-content: center;
	align-items: center;
}

.newsTxt {
	text-decoration: underline;
}

.bruh {
	background-image: url("Images/TabButtons.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	
	width: 100%;
	display: block;  
	text-decoration: none;
	color: inherit;
	
	border-bottom: 1px solid #fff;
	

	
	font-family: badaga;
}

.bruh:hover{
	text-decoration: underline;
	color: #0011FF;
}

.main {
	flex: 1;
    display: flex;
	flex-direction: column;
	padding: 0;
	border-bottom: 2px solid #000000;
	border-right: 2px solid #000000;
}

.main-content {
	flex: 1;
    overflow-y: auto;
	background-color: #377D7D;
	padding: 0;
	border-bottom: 2px solid #000000;
	border-right: 2px solid #000000;
}
.main-content2 {
	flex: 1;
    overflow-y: auto;
	background-color: #000000;
	padding: 0;
	border-bottom: 2px solid #000000;
	border-right: 2px solid #000000;
}

.banner {
	width: 100%;
	height: 161px;
	background-image: url("Images/Banner.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	display: flex;
	align-items: center;
	padding-left: 10px;
	box-sizing: border-box;
	border-width: 2px;
	border-color: #000000;
	border-style: solid;
}

.banner-text {
  flex: 0 0 auto;
  padding: 10px;
  font-family: 'Comic Sans MS', cursive;
  font-size: 48px;
  color: white;
}

.banner-image-container {
  flex: 1;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.featured {
	display: flex;
	gap: 20px;
	padding: 20px;
}

.featured-img {
	width: 220px;
	height: auto;
}

.button-container {
	position: relative;
	left: 170px;
}

.keycifer-games {
  padding: 15px 20px;
  color: black;
}

.newest-games {
	background-color: #370504;
	padding: 10px;
}

.hall-of-fame {
	background-color: #FF8975;
	padding: 10px;
}

.games-placeholder, .hall-placeholder {
  min-height: 100px;
  border: 1px dashed #ccc;
  margin-top: 10px;
}

.Hall{
	border: 5px outset rgb(227, 97, 27);
	background-color: #A32C2C;
	text-align: center;
	width: 50%;
	margin: auto;
	position: relative;
}

.txtHeader {
	color: black;
	font-size: 24px;
	font-family: badaga;
	text-align: center;
	font-weight: bold;
}

.ImgButton:hover {
	opacity: 0.5
}

p {
	color: white;
	font-size: 18px;
	font-family: badaga;
}

a {
	color: #2E8CFF;
	font-size: 18px;
	font-family: badaga;
}

h1 {
	color: #55E2E9;
	text-align: center;
	font-size: 40px;
	font-family: Quenda;
}

h2 {
	color: #02367B;
	text-align: center;
	font-size: 27px;
	font-family: Quenda;
}
h4 {
	color: #02367B;
	font-family: Quenda;
}

textarea {
	width: 150%;
	height: 140px;
	padding: 12px;
	box-sizing: border-box;
	border: 2px solid rgb(54, 38, 232);
	border-radius: 4px;
	background-color: #96b3ef;
	font-size: 16px;
	resize: none;
}

button {
	font-weight: bold;
	background-color: rgb(11, 190, 44);
	color: rgb(255, 255, 255);
	cursor: pointer;
	padding: 10px 30px;
	transition: 0.3s;
	font-family: badaga;
	font-size: 23px;
}
button:hover {opacity: 0.5}

.cdList {
    list-style: none;
    padding-left: 40px;
}

.cdList li {
    position: relative;
	color: white;
	font-size: 18px;
	font-family: badaga;
}

.cdList li::before {
    content: "";
    position: absolute;
    left: -26px;
    top: 2px;

    width: 20px;
    height: 20px;

    background-image: url('Images/spinningcd.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.codeText {
	width: 90%;
	height: 140px;
	padding: 12px;
	box-sizing: border-box;
	border: 2px solid rgb(54, 38, 232);
	border-radius: 4px;
	background-color: #96b3ef;
	font-size: 16px;
	resize: none;
}

.image-table {
    display: flex;
	row-gap: 20px;
    column-gap: 70px;
    justify-content: left;
    flex-wrap: wrap;
}

.item {
    text-decoration: none;
    color: white;
    text-align: center;
    width: 150px;
}

.item img {
    width: 175px;
    height: 130px;
    object-fit: cover;
    border: 2px solid black;
    transition: transform 0.2s;
}

.item img:hover {
    transform: scale(1.05);
}

footer {
	padding: 10px;
	background-color: #AA0606;
}

footer p {
	display: flex;
	justify-content: center;
	align-items: center;
}
.GiscusDiv {
	background-color: #70120A;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border-width: 2px;
	border-color: rgb(84, 8, 8);
	border-style: solid;
}

@font-face {
  font-family: badaga;
  src: url(Fonts/badaga.ttf);
}
@font-face {
  font-family: Quenda;
  src: url(Fonts/Quenda-Medium.otf);
}

#embeddedGame {
	width: 75%;
	height: 720px;
}

.CenterText {
	margin-top: 20px;
}

.secondaryDiv {
	background-color: black;
	gap: 20px;
	padding: 20px;
	height: 170%;
}
.bannerDiv {
	background-image: url(Images/headingBanner.webp);
	width: 90%;
	height: 7%;
	margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
	
	color: white;
	font-size: 18px;
	font-family: badaga;
	
	text-align: center;
}

.bundle {
	width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #bff;
    font-family: badaga;
    font-size: 18px;
}

.yellow {
	color: #ffaf1b;
	font-size: 18px;
	font-family: badaga;
}
.blue {
	color: #8af6ff;
	font-size: 18px;
	font-family: badaga;
}
.green {
	color: #8affa2;
	font-size: 18px;
	font-family: badaga;
}
.leftt,
.centerr,
.rightt {
    flex: 1;
}

.leftt {
    text-align: left;
}
.centerr {
    text-align: center;
	color: #ff37a7;
}
.rightt {
    text-align: right;
	color: white;
}

.leftt a {
    color: rgb(219, 2, 40);
}
.leftt a:Hover {
    color: rgb(255, 213, 220);
}