body {
   background-color: black;
}

a {
  color: orange;
  font-weight: bold;
}

p {
  color: white;
}

h3 {
  color: red;
}

button {
   font-weight: bold;
   background-color: orange;
   color: blue;
cursor: pointer;
padding: 8px 20px;
transition: 0.3s;
}

button:hover {opacity: 0.5}

object {
scale: 1.2; 
}